<h1>Editing list</h1>

<%= render "form", trip: @trip, list: @list %>

<br>

<div>
  <%= link_to "Show this list", [ @trip, @list ] %> |
  <%= link_to "Back to lists", trip_lists_path(@trip) %>
</div>
