<header class="header">
  <h1>Your Trips</h1>

  <%= link_to new_trip_path, class: "button" do %>
    <i class="gg-add"></i>
    New Trip
  <% end %>
</header>

<div class="cards">
  <%= render @trips %>
</div>
