<h1>Editing list item</h1>

<%= render "form", list_item: @list_item %>

<br>

<div>
  <%= link_to "Show this list item", @list_item %> |
  <%= link_to "Back to list items", list_items_path %>
</div>
